<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista_Tarefas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <div class="container mt-5">
    <h1 class="text-center mb-5 fw-light display-4 text-muted border-bottom pb-3">
      AGENDAMENTO
    </h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="novaTarefa">Serviço</label>
          <input [(ngModel)]="novaTarefa" id="novaTarefa" placeholder="Serviço" class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="novaDataLimite">Data Limite</label>
          <input [(ngModel)]="novaDataLimite" id="novaDataLimite" placeholder="Data Limite" type="date"
            class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="tarefa">Descrição</label>
          <textarea id="tarefa" name="tarefa" rows="5" class="form-control" [(ngModel)]="novaDescricao"
            placeholder="Descrição da Serviço"></textarea>
        </div>
        <div class="text-center">
          <button (click)="adicionarTarefa()" class="btn btn-primary">Adicionar</button>
          <button (click)="limpar()" class="btn btn-primary">Limpar</button>
        </div>
      </div>
    </div>
  </div>

  <hr width="60%" color="black">

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h2 class="text-center mb-4 p-3 bg-light rounded shadow-sm">Serviço Pendentes</h2>
        <ul class="list-group">
          <li *ngFor="let tarefa of tarefasPendentes; let i = index"
            class="list-group-item mb-3 rounded shadow-sm hover-effect">
            <div class="form-check">
              <input type="checkbox" [(ngModel)]="tarefa.concluida" class="form-check-input"
                [disabled]="!tarefa.concluida">
              <span [class]="tarefa.concluida ? 'tarefa-concluida text-muted' : 'tarefa-pendente'">
                <h5 class="mb-2 fw-bold">{{ tarefa.tarefa }}</h5>
                <div class="d-flex align-items-center mb-1">
                  <i class="bi bi-calendar me-2"></i>
                  <small class="text-muted">Data: {{ tarefa.dataLimite | date:'dd/MM/yyyy' }}</small>
                </div>
                <p class="mb-0"><i class="bi bi-card-text me-2"></i>{{ tarefa.descricao }}</p>
              </span>
            </div>
            <div class="d-flex justify-content-end mt-3 gap-2">
              <button (click)="editarTarefa(i, tarefasPendentes)" class="btn btn-outline-warning btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Editar tarefa">
                <i class="bi bi-pencil"></i>
              </button>

              <button (click)="alternarStatusTarefa(i, tarefasPendentes)" class="btn btn-outline-success btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Marcar como concluída">
                <i class="bi bi-check2"></i>
              </button>

              <button (click)="moverParaFazendo(i, tarefasPendentes)" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Mover para 'Fazendo'">
                <i class="bi bi-arrow-right"></i>
              </button>

              <button (click)="excluirTarefa(i, tarefasPendentes)" class="btn btn-outline-danger btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir tarefa">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h2 class="text-center mb-4 p-3 bg-light rounded shadow-sm">Serviço Concluídas</h2>
        <ul class="list-group">
          <li *ngFor="let tarefa of tarefasConcluidas; let i = index"
            class="list-group-item mb-3 rounded shadow-sm hover-effect">
            <div class="form-check">
              <input type="checkbox" [(ngModel)]="tarefa.concluida" class="form-check-input"
                [disabled]="!tarefa.concluida">
              <span [class]="tarefa.concluida ? 'tarefa-concluida text-muted' : 'tarefa-pendente'">
                <h5 class="mb-2 fw-bold">{{ tarefa.tarefa }}</h5>
                <div class="d-flex align-items-center mb-1">
                  <i class="bi bi-calendar me-2"></i>
                  <small class="text-muted">Data: {{ tarefa.dataLimite | date:'dd/MM/yyyy' }}</small>
                </div>
                <p class="mb-0"><i class="bi bi-card-text me-2"></i>{{ tarefa.descricao }}</p>
              </span>
            </div>
            <div class="d-flex justify-content-end mt-3 gap-2">
              <button (click)="editarTarefa(i, tarefasConcluidas)" class="btn btn-outline-warning btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Editar tarefa">
                <i class="bi bi-pencil"></i>
              </button>

              <button (click)="alternarStatusTarefa(i, tarefasConcluidas)" class="btn btn-outline-success btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Marcar como concluída" [disabled]="true">
                <i class="bi bi-check2"></i>
              </button>

              <button (click)="moverParaFazendo(i, tarefasConcluidas)" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Mover para 'Fazendo'">
                <i class="bi bi-arrow-right"></i>
              </button>

              <button (click)="excluirTarefa(i, tarefasConcluidas)" class="btn btn-outline-danger btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir tarefa">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h2 class="text-center mb-4 p-3 bg-light rounded shadow-sm">Serviço A Fazer</h2>
        <ul class="list-group">
          <li *ngFor="let tarefa of tarefasAFazer; let i = index"
            class="list-group-item mb-3 rounded shadow-sm hover-effect">
            <div class="form-check">
              <input type="checkbox" [(ngModel)]="tarefa.concluida" class="form-check-input"
                [disabled]="!tarefa.concluida">
              <span [class]="tarefa.concluida ? 'tarefa-concluida text-muted' : 'tarefa-pendente'">
                <h5 class="mb-2 fw-bold">{{ tarefa.tarefa }}</h5>
                <div class="d-flex align-items-center mb-1">
                  <i class="bi bi-calendar me-2"></i>
                  <small class="text-muted">Data: {{ tarefa.dataLimite | date:'dd/MM/yyyy' }}</small>
                </div>
                <p class="mb-0"><i class="bi bi-card-text me-2"></i>{{ tarefa.descricao }}</p>
              </span>
            </div>
            <div class="d-flex justify-content-end mt-3 gap-2">
              <button (click)="editarTarefa(i, tarefasAFazer)" class="btn btn-outline-warning btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Editar tarefa">
                <i class="bi bi-pencil"></i>
              </button>

              <button (click)="alternarStatusTarefa(i, tarefasAFazer)" class="btn btn-outline-success btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Marcar como concluída">
                <i class="bi bi-check2"></i>
              </button>

              <button (click)="moverParaFazendo(i, tarefasAFazer)" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Mover para 'Fazendo'" [disabled]="true">
                <i class="bi bi-arrow-right"></i>
              </button>

              <button (click)="excluirTarefa(i, tarefasAFazer)" class="btn btn-outline-danger btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir tarefa">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>